# Ignorar el archivo del area de trabajo
*.code-workspace

# No subir fotos de usuarios, solo la estructura de carpetas
assets/uploads/alumnos/*
assets/uploads/profesores/*
!assets/uploads/alumnos/.gitkeep
!assets/uploads/profesores/.gitkeep
